{% extends 'base.html' %}

{% block title %}ADD{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="masthead" style="background-image: url('/static/cars/images/post-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Add car</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 mx-auto">
                <form action="{% url 'addcar' %}" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="from-group row">
                            <label class="col-sm-4 col-form-label">{{ field.label }}</label>
                            {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="text-danger">
                                            {{ error }}
                                        </div>
                                    {%endfor%}
                                {% endif %}
                            <div class="col-sm-8">{{ field }}</div>
                        </div><br>
                    {% endfor %}
                    <input class="btn btn-dark btn-block" type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
{% endblock %}