{% extends 'base.html' %}
{% load static %}

{% block title %}{{ car.car_mark }} {{ car.car_model }}{% endblock %}

{% block header_background %}
    {% static "cars/images/contact-bg.jpg" %}
{% endblock %}

{% block header_title %}Car deatil{% endblock %}

{% block subheader_title %}A Blog Theme by Start Bootstrap{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h3>{{ car.car_mark }} {{ car.car_model }}</h3>
                <h4>{{ car.car_year }}</h4>
                {% if car.car_image %}
                    <img class="img-fluid" src="{{ car.car_image.url }}" alt="car image">
                {% else %}
                    <img class="img-fluid" src="{% static 'cars/images/noimage.jpg' %}" alt="No images">
                {% endif %}
                <p>{{ car.car_description|linebreaks }}</p>
                <p class="text-muted">{{ car.car_public }}</p>
            </div>            
        </div>
{% endblock %}