{% extends 'base.html' %}
{% load static %}

{% block title %}CarShop{% endblock %}

{% block header_background %}
    {% static "cars/images/home-bg.jpg" %}
{% endblock %}

{% block header_title %}Welcome to CarShop{% endblock %}

{% block subheader_title %}A Blog Theme by Start Bootstrap{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Last added</h1>
        <div class="row">
            {% for car in cars %}
                <div class="col-sm-4 my-4">
                    <div class="card">
                        {% if car.car_image %}
                            <a href="{% url 'carditail' car.slug %}"><img class="card-img-top" src="{{ car.car_image.url }}" alt="car image"></a>
                        {% else %}
                            <a href="{% url 'carditail' car.slug %}"><img class="card-img-top" src="{% static 'cars/images/noimage.jpg' %}" alt="No images"></a>
                        {% endif %}
                        <div class="card-body post-preview">
                            <h4 class="card-title">{{ car.car_mark }} {{ car.car_model }}</h4>
                            <p class="card-text">{{ car.car_year }}</p>
                            <p class="post-meta">{{ car.car_public }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'carditail' car.slug %}" class="btn btn-dark btn-block">View details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
      </div>
{% endblock %}