{% extends 'base.html' %}
{% load static %}

{% block title %}CarShop{% endblock %}

{% block content %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% for car in cars %}
            <div class="row">
            <div class="col-md-6 carditail">
                {% if car.car_image %}
                    <a href="{% url 'carditail' car.slug %}"><img src="{{ car.car_image.url }}" alt="car image"></a>
                {% else %}
                    <a href="{% url 'carditail' car.slug %}"><img src="{% static 'cars/images/noimage.jpg' %}" alt="No images"></a>
                {% endif %}
            </div>
            <div class="col-md-4">
                <a href="{% url 'carditail' car.slug %}">{{ car.car_mark }} {{ car.car_model }}<br> {{ car.slug }}</a>
                <p>{{ car.car_year }}</p>
                <p>Publicate: {{ car.car_public }}</p>
            </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
    </div>
{% endblock %}